.nav-menu {
    justify-content: flex-start;
}

.left {
    width: 40%;
    height: 50vw;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}

.accountWrapper {
    width: 80%;
    height: 80%;
    padding: 3rem;
    box-sizing: border-box;
}

.accountWrapper h1 {
    font-size: 3rem;
}

.accountWrapper form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
}

.accountWrapper form div p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: grey;
}

.accountWrapper form input {
    width: 100%;
    padding: 1rem;
    border: 0;
    border-bottom: 1px solid #ccc   ;
    border-radius: 5px;
    box-sizing: border-box;
}

.accountWrapper form button {
    width: 100%;
    padding: 1rem 2rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accountWrapper form input[type="checkbox"] {
    width: 10px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
}

.checkbox div {
    margin-left: 5px;
}

.revert {
    position: absolute;
    top: 20px;
    right: 20px;
}

.register span,
.login span {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

.register span:hover,
.login span:hover {
    scale: 1.02;
}

.register span:active,
.login span:active {
    scale: 0.98;
}

.register {
    display: block;
}

.login {
    display: none;
}

.right {
    width: 60%;
    height: 50vw;   
    position: relative;
}

.showcaseWrapper {
    width: 100%;
    height: 100% !important;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}

.showcaseSlides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.showcaseSlides li {
    margin: 0;
    padding: 0;
}

.showcaseSlides img {
    height: 50vw;
    object-fit:contain;
}

.slidenav {
    height: 50vw;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.slidenav div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 50vw;
    cursor: pointer;
}

.scSlide {
    display:none;
}

.scSlide.scActive {
    display: flex;
    animation: fade-in 1s ease-in-out;
}

.slidenav div:hover {
    background-color: rgba(255, 255, 255, 0.8);
    animation: fade-in 300ms ease-in-out;
}

.footer-icon {
    background-color: white;
}

.footer-icon .icon h1 {
    color: darkblue;
}
